@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body{
	font-size: 16px; color:#2775BB; margin: 0 ;font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.menu{
	width: 100%;background-color: white;height: 70px;text-align:center;line-height: 70px;position: fixed
}
.menu a{
	text-decoration: none; color:#2775BB; font-size: 16px;padding: 30px
		
}
.menu a:hover{
	color: white;background-color: #2775BB
}
.banner{
	width: 100%;min-height: 200px; padding-top: 75px
}
.img-100{
	width: 100%; height: auto
}
.space{
	width: 100%; height: 15px
}
.ac{
	text-align: center
}
.container{
	width: 80%;margin: auto}
.w50{
	width: 50%; padding: 15px; float: left}
.nd{
	text-align: center;font-size: 16px;border: 1px solid #2775BB;padding: 10px}
main{
	width: 100%; min-height: 500px
}
.clear{
	clear: both
}

.tk{text-align: center;font-size: 16px;border: 1px solid #2775BB;padding: 10px;padding-bottom: 40px}
input{padding: 5px;margin:1px;color:#666666}
